
.asd{
   background-image: url("Untitled.png");
   background-repeat: no-repeat;
   background-size: cover ;
   background-position: top;
}

.asd{
    color: bisque;
}

.asd{
    border: 2px dotted rgb(241, 16, 16);
}


